openapi: 3.0.0
info:
  title: Minha API REST
  version: 0.1
servers:
  - url: http://localhost:3000/
tags:
  - name: usuarios

paths:
  /usuarios:
    post:
      tags:
        - usuarios
      summary: Cria um novo usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, senha]
              properties:
                email:
                  type: string
                  format: email
                senha:
                  type: string
      responses:
        '201':
          description: Usuário criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '422':
          description: Email e Senha são obrigatórios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mensagem'
  /usuarios/login:
    post:
      tags:
        - usuarios
      summary: Faz login do usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [usuario, senha]
              properties:
                usuario:
                  type: string
                  format: email
                senha:
                  type: string
      responses:
        '200':
          description: Login efetuado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mensagem'
  /usuarios/renovar:
    post:
      tags:
        - usuarios
      summary: Renova o token JWT
      security:
        - JWTAuth: []
      responses:
        '200':
          description: Token renovado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Token inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mensagem'
  /usuarios/{id}:
    delete:
      tags:
        - usuarios
      summary: Remove um usuário pelo id
      security:
        - JWTAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Usuário removido com sucesso
        '401':
          description: Token inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mensagem'

components:
  securitySchemes:
    JWTAuth:
      type: apiKey
      in: header
      name: authorization
  schemas:
    Usuario:
      type: object
      properties:
        _id:
          type: string
        email:
          type: string
        senha:
          type: string
    Token:
      type: object
      properties:
        token:
          type: string
    Mensagem:
      type: object
      properties:
        msg:
          type: string